* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80% 20%;
	grid-template-areas: "main  " "footer";
}

body {
	font-family: Montserrat;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
}

header {
	grid-area: header;
	background-color: #111;
	padding: 0 256px;
}

ul {
	display: flex;
	list-style-type: none;
	overflow: hidden;
	margin: 2px auto;
	text-align: center;
	justify-content: end;
	position: absolute;
	top: 4%;
	right: 20%;
}

.intro {
	position: absolute;
	left: 10%;
	top: 35%;
}

.person {
	position: absolute;
	top: 13%;
	right: 13%;
}

.person img {
	height: 500px;
    width: 100%;
}

.person:hover img {
    animation: fading 5s;
}

.ref {
	position: absolute;
	top: 58%;
	left: 10%;
}

li a {
	display: block;
	color: #ffffff;
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
}

li a:hover:not(.active) {
	background-color: #333;
}

.active {
	background-color: #ffffff;
	color: #111;
}

main {
	grid-area: main;
	background: #d7d7d7;
	padding: 0 256px;
	z-index: 1;
}

.person_rec {
	position: absolute;
	width: 1802.3px;
	height: 1373.99px;
	left: 800.5px;
	top: -192px;

	background: #000000;
	transform: rotate(9.67deg);
	z-index: -1;
}

.logo {
	position: absolute;
	height: 3%;
	top: 5%;
	left: 10%;
}

.aboutme {
	margin: 20px auto;
	width: 404px;
	height: 74px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 38px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.35538em;

	color: #000000;
}

footer {
	grid-area: footer;
	background: linear-gradient(90.18deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
	z-index: 1;
	padding: 25px;
}

.IB,
.infof,
.readm {
	margin-bottom: 10px;
	color: #ffffff;
}

.readm {
	display: inline;
	padding: 0 10px;
	font-size: 10px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}


@keyframes fading {
    0% {
        width: 80%;
    }

    25% {
        width: 70%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 40%;
    }

    100% {
        width: 0%;
    }

}